p {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    font-size: x-large;
}

.cat {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: green;
    font-size: x-large;
}

#dog {
    font-family: 'Times New Roman', Times, serif;
    color:chocolate;
    font-size: x-large;
}
body {
    background-image: url("cat.jpg");
}
h1 {
    text-align: center;
}

a {
    font-size: xx-large;
}

a:hover {
    color: pink;
}

.important {
    width:max-content;
    border: 20px solid red;
    margin: 10px;
}